@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Itim&family=Permanent+Marker&display=swap');

body {
  width: 65%;
  margin: auto;
  background: rgb(255,253,246);
  background: radial-gradient(circle, rgba(255,253,246,0.7889356426164216) 17%, rgba(255,247,210,0.9345939059217437) 42%, rgba(242,247,208,1) 66%, rgba(107,253,255,1) 100%);
}
h1 {
  text-align: center;
  font-family: 'Permanent Marker', Sans-serif;
  font-size: 34px;
}
h2 {
  text-align: center;
  font-family: 'Amatic SC', Sans-serif;
  font-weight: 900;
  font-size: 32px;

}
section {
  border: 2px solid #333;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #FFF;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.images {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.images img {
  opacity: 50%;
  transition: all .5s ease-in-out;
  cursor: pointer;
}
.images img:hover {
  opacity: 100%;
}
section.scoreboard {
  border-style: solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;

  font-family: 'Itim', Sans-serif;
  font-size: 18px;
}
@media screen and (max-width: 768px)  {
  main {grid-template-columns: 1fr;}
  main img {transform: scale(.9);}
}
#result {
  border-bottom: 2px dotted #AAA;
  padding-bottom: 1rem;
  grid-column-start: 1;
  grid-column-end: 4;
}
.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#numWon, #numLost, #numTied {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1;
  margin-bottom: .25rem;
}
p.label {
  line-height: 1;
  margin-top: 0;
}
.reset
{
  position: relative;
  margin: 0;
  text-align: center;
  padding-top: 1rem;
}
